# Запуск Реврайт
RewriteEngine On
# Базовый каталог
RewriteBase /
# Не файл
RewriteCond %{REQUEST_FILENAME} !-f
# Не каталог
RewriteCond %{REQUEST_FILENAME} !-d
# Не статика
RewriteCond %{REQUEST_FILENAME} !\.(jp(e?)g|gif|png|css|js|ico)$ [NC]
# Строка запроса содержит имя каталога
RewriteCond %{REQUEST_URI} ([A-Za-z]+)/(.*)$ [NC]
# Каталог из предыдущего правила существует
RewriteCond %{DOCUMENT_ROOT}/%1 -d
# Реврайт на индексный файл в каталоге
RewriteRule ^([A-Za-z]+)/(.*)$ $1/index.php/$2 [NC,L,QSA]