html, body { height:100%; }

#wrap { min-height:100%; height:auto !important; height:100%; margin:0px; }
#push, #footer, #footer .container { height:60px; margin-top: -60px; }

.logo-image { height: 56px; left: 570px; position: absolute; top: 140px; width: 420px; }

.main-page { padding: 0px; background-color: #EEEEEE; }
.main-page .container {width:995px; min-width:995px; padding: 0px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); background-color: #FFFFFF;}
.main-page .long { min-height:100%; height:auto !important; height:100%; }
.main-page .row { padding: 0px; margin: 0px;}
.main-page .relative { position: relative; }

/*.main-page .page-header { border-bottom: none; }

.custom .col-lg-12  { padding-right: 0px !important; }
.custom .navbar-inverse  {background-image: linear-gradient(#000000, #CCCCCC 100%); border: none; height: 26px; }*/